spring:
  datasource:
    url: jdbc:h2:mem:localdb;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect

management:
  metrics:
    export:
      cloudwatch:
        namespace: my-application-metrics
        step: 1m
        enabled: true

logging:
  level:
    com.services: DEBUG
