<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="staticHead">
    <title>Random Media</title>
    <meta charset="UTF-8">
    <meta name="description" content="랜덤으로 하나를 보여줍니다. 어떤 것이 재생되나요?">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="Random Media">
    <meta property="og:description" content="랜덤으로 하나를 보여줍니다. 어떤 것이 재생되나요?">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/37291245">
    <meta property="og:type" content="website">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style th:replace="~{fragments/home :: staticStyle}"></style>
    <script defer th:src="@{/js/script.js}"></script>
</head>
</html>